html{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body{
    font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif ;
    margin: auto;
    
}

.ui-page{
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 812px;
    padding-bottom: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    overflow-y: scroll;
}

#edit{
    width: 390PX;
    height: 48px;

    position: fixed;
    z-index: 8;

    transition: 1s;
}

.day{
    background: linear-gradient( to bottom ,  #5BBEFF 40%, #81CCFF 70%, #E7F5FF 100% );
    color: #333;
}
.night{
    background: linear-gradient(180deg, #062031 0%, #17233A 100%);

    color: #fff;
}
.daytext{
   
    color: #333;
}
.nighttext{

    color: #fff;
}
.dayhead{
    background-color: #5BBEFF;
    color: #333;
}
.nighthead{
    background-color: #062031;
    color: #fff;
}


.now{
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    z-index: 3;

    }

.now-container{
    /* display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    justify-content: center; */
}



.holder{
    display: flex;
    width: 270px;
    gap: 62px;
    transition: 0.5s;
    overflow: hidden;
    align-items: center;
}


.mainicon{
    width: 92px;
    height: 92px;
}
#weather{
    transform-origin: center    ;
}
#city{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}


#temp{
    font-size: 42px;
    font-weight: 400;
}

#maxmin{
    font-size: 12px;
}

.scrollside{
    position: absolute;
    width: 100%;

    border-radius:0px  0px 12px 12px;
    bottom: 0px;
    z-index: 1;
    padding-top: 1px;
    background-color: #ffffff40;
 
}

.forescr{
    height: 96px;
}


.forecon{
    position: absolute;
    width: 317px;
    margin: 0px;
    padding: 8px ;
    z-index: 3;

}


#forecast{
    width: 317px;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    user-select: none;
}

.icon{
    width: 48px;
    height: 48px;
}

*::-webkit-scrollbar {
display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#forecast > div{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
h3{
text-align: center;
font-size: 10px;
font-weight: 400;
margin: 0px;
}
#forecast > div > p {
text-align: center;
font-size: 12px;
margin: 0px;
}

#etccon{
    z-index: 2;
    width: 333px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: initial;
    gap: 16px;
    -ms-user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
     user-select:none;

}

.ui-pagecontainer {
    width: 100vw;
}


.header-sm{
    width: 100%;
    background-color: #ffffff40;
    height: auto;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 12px 12px 0px 0px;
    font-size: 10px;
    padding: 6px 0px 0px;


}

.header-sm > p { 

    height: 12px;
    margin: 0px;
    padding-bottom: 6px;
    margin-left: 8px;
    margin-right: 8px;
    /* border-bottom: 1px solid #ffffff40; */
}


#forecastcon{
    height: 120px;

    user-select: none;

    
    border-radius: 12px;
}


.info{
    width: 100%;
    /* overflow: hidden; */
    border-radius: 12px;
    position: relative;
    /* backdrop-filter: blur(10px); */
    /* background-color: #ffffff40; */

}

.half{
    width: 156px;
    /* background-color: #ffffff40; */
    border-radius: 12px;
    position: relative;

    
}

.week{
    height: 308px;
}



.weekcontainer{
  
    border-radius: 0px 0px 12px 12px;
}
.weekday{

 margin :  0px 8px;
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
 align-items: center;
 border-top: 1px solid #ffffff40;
}

.weekday:nth-child(1){
    border-top: none;
}

.weekscr{
    height: 284px;
}

.cav > span{
    width: 24px;
    text-align: center;
}

.cav{
    height: 40px;
    display: flex;
    gap: 4px;
    font-size: 12px;
    align-items: center;
}

.date{
    font-size: 12px;
    width: 20px;
    
}

.icon-sm{
    width: 24px;
    height: 24px;
}

.rain{
}

.raincontainer{

    border-radius: 0px 0px 12px 12px ;
    height: 52px;
    
}

.sun{

}

.suninfo{
    padding-top: 10px;
}

.suncontainer{
    height: 140px;

    border-radius: 0px 0px 12px 12px ;
}
.air{
    height: 156px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
   
}
.sight{
    height: 156px;
}


.caitext{
    height: 28px;
}

.caibar{
    position: relative;

    width: 140px;
    height: 2px;
    border-radius: 9999px;
    background: linear-gradient(90deg, #4992FF 6.09%, #3AD55C 18.67%, #FEF74A 31.12%, #FFB36D 48.3%, #FF5252 62.9%, #660909 97.5%);
}

.cailocator{
    position: absolute;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    background-color: #fff;
}

.vibration {

    animation: vibration .25s infinite;
  }

  @keyframes vibration {
    0% {
      transform: rotate(0.5deg);
    }
    50% {
      transform: rotate(-0.5deg);
    }
    100% {
        transform: rotate(0.5deg);
      }
  }


.cav > canvas{
   background-color: #ffffff;
   border-radius: 9999px;
  }

  .suninfo{
    width: 100%;
    height: 49px;
  }

  .cavcon{
    width: 100%;
    height: 80px;
  }


  .title{
    font-size: 10px;
  }
  



  .cloud{
    top: 0;
    background-size: auto;
    width: auto;
    height: auto;
    opacity: 0.5;
    position: fixed;
    right:  -950px;
    z-index: 1;
}



.kilometer{
    width: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}